<h1 id="general-information">General information</h1>
<p><strong>Citizenship</strong>: Canadian</p>
<p><strong>Languages</strong>: English and French</p>
<p><strong>Tel</strong>: +1 (647) 234 8639</p>
<p><strong>Email</strong>: ab {at} anthbrtn.com</p>
<p><strong>ORCID iD</strong>: <a href="https://orcid.org/0000-0001-6474-0313" class="uri">https://orcid.org/0000-0001-6474-0313</a></p>
<p><strong>Git</strong>: <a href="https://github.com/anthbrtn" class="uri">https://github.com/anthbrtn</a></p>
<h1 id="education">Education</h1>
<p><strong>Doctor of Philosophy, Communications.</strong> Simon Fraser University. 2024. Entrance with Provost's Prize of Distinction and SSHRC CGS Doctoral Scholarship.</p>
<p><strong>Master of Arts, Communication &amp; Culture</strong>. Ryerson University &amp; York University. 2020.</p>
<p><em>Thesis title</em>: "I would do anything to not call this place home: The black pill, involuntary celibacy, and the neoliberal male grasp in digital incel communities."</p>
<p>Award for Outstanding Thesis, nominated.</p>
<p><strong>Graduate Professional Development in Teaching Program</strong>, Level 1.</p>
<p>The Chang School of Continuing Education. 2019.</p>
<p><strong>Honours Bachelor of Arts, Literature &amp; Philosophy</strong>.</p>
<p>High Distinction (<em>summa cum laude</em>).</p>
<p>Victoria College in the University of Toronto. 2017</p>
<h1 id="professional-contributions">Professional Contributions</h1>
<h2 id="publications">Publications</h2>
<h3 id="refereed-publications">Refereed Publications</h3>
<p>Anthony Glyn Burton. 2021. "Wojak’s lament: Memetic excess and the NPC under network capitalism". <em>Institute of Network Cultures Reader #15 – Critical Meme Research</em>. https://networkcultures.org/blog/publication/critical-meme-reader-global-mutations-of-the-viral-image/.</p>
<p>Tuters, Marc, and Anthony G. Burton. 2021. “The Rebel Yell: On YouTube’s Burlesque Traditonalists and Their Alt-Right Audiences.” <em>Canadian Journal of Communication</em> 46 (4). https://doi.org/10.22230/cjc.2021v46n4a3937.</p>
<p>Jucan, Ioana B., Roopa Vasudevan, Anthony Glyn Burton, Tong Wu, and Yuguang (YG) Zhang. 2021. “Performing Left and Right.” <em>Theatre Journal 73</em> (3): E-9. https://doi.org/10.1353/tj.2021.0064.</p>
<p>Keulenaar, Emillie de, Anthony Glyn Burton, and Ivan Kisjes. 2021. “Deplatforming, Demotion and Folk Theories of Big Tech Persecution.” <em>Fronteiras - Estudos Midiáticos 23</em> (2): 118–39. https://doi.org/10.4013/fem.2021.232.09.</p>
<p>Elmer, Greg, Stephen J. Neville, Anthony Burton, and Sabrina Ward-Kimola. 2021. “Zoombombing During a Global Pandemic.” <em>Social Media + Society 7</em> (3): 20563051211035356. https://doi.org/10.1177/20563051211035356.</p>
<p>Burton, Anthony Glyn. "Blackpill science: incels and the neoliberal program of masculinity." <em>Canadian Journal of Communications</em>. In revision, 2021.</p>
<p>—. “Misinformation’s migration: Cross-platform posting, YouTube, and the deep vernacular web in the 2020 U.S. Election”. In Rogers, Richard and S. Niederer, eds. <em>Mainstreaming the Fringe</em>. In press, 2022.</p>
<p>Elmer, Greg, Sabrina Ward-Kimola, &amp; Anthony Glyn Burton. 2020. "Crowdfunding during COVID-19: An international comparison of online fundraising." <em>First Monday</em>, 25(11). <a href="https://firstmonday.org/ojs/index.php/fm/article/view/10869" class="uri">https://firstmonday.org/ojs/index.php/fm/article/view/10869</a></p>
<p>Burton, Anthony Glyn and Dimitri Koehorst. 2020. "The Spread of Political Misinformation on Online Subcultural Platforms". <em>Harvard Misinformation Review</em>. <a href="https://misinforeview.hks.harvard.edu/article/research-note-the-spread-of-political-misinformation-on-online-subcultural-platforms/" class="uri">https://misinforeview.hks.harvard.edu/article/research-note-the-spread-of-political-misinformation-on-online-subcultural-platforms/</a>.</p>
<p>Burton, Anthony Glyn. 2019. "Being in/of the Network: The Chad Meme as Digital Subject". <em>To Be Decided: Journal of Interdisciplinary Theory</em>. 4 (2): 8.</p>
<p>—. 2016. "The Production of Society: Social Cohesion, Newspapers, and Social Media". <em>ImagiNATIONS</em> 4 (1): 57–70.</p>
<h3 id="book-reviews">Book Reviews</h3>
<p>Burton, Anthony G. 2020. Review: Technologies of Speculation: The Limits of Knowledge in a Data-Driven Society. <em>International Journal of Communication</em>, November.</p>
<p>Burton, Anthony G. 2018. <a href="https://quillandquire.com/review/getting-a-life-the-social-worlds-of-geek-culture/">Review: Getting a Life: The Social Worlds of Geek Culture</a>. <em>Quill &amp; Quire</em>, March.</p>
<h3 id="reports">Reports</h3>
<p>de Keulenaar, Emillie, Ivan Kisjes. Anthony G. Burton, Jasper van der Heide, Dieuwertje Luitse, Eleonora Cappuccio, Guilherme Appolinário, Narzanin Massoumi, Tom Mills, Amy Harris, Jörn Preuß. 2020. “Demoting, deplatforming and replatforming COVID-19 misinformation". <em>Digital Methods Institute Summer School</em> Project Report. University of Amsterdam, July 30.</p>
<p>Elmer, Greg, Ganaele Langlois, Marc Tuters, Melody Devries, Steven J. Neville, Anthony G. Burton &amp; Sabrina Ward-Kimola. 2020. "Fringe Politics: The Deep Web’s Impact on the Canadian Election", Report for Digital Ecosystem, Research Project, Heritage Canada.</p>
<p>Burton, Anthony G., Ivana Škoro, Henri Mütschele, Myrthe Reuver, and Shenglang Qing. 2019. <a href="https://wiki.digitalmethods.net/Dmi/SummerSchool2019StreamsoftheDeepWeb">'Streams of the Deep Web: Mapping Rebel Media on YouTube'</a>. <em>Digital Methods Institute Summer School</em> Project Report. University of Amsterdam, July 21.</p>
<h3 id="other-publications">Other Publications</h3>
<p>Elmer, Greg, Anthony G. Burton, and Stephen J. Neville. 2020. “These researchers tracked down how hackers are disrupting Zoom chats.” Global News. June 15, 2020. <a href="https://globalnews.ca/news/7048850/zoom-hacking/" class="uri">https://globalnews.ca/news/7048850/zoom-hacking/</a>.</p>
<p>Elmer, Greg, Anthony G. Burton, and Stephen J. Neville. 2020. “Zoom-Bombings Disrupt Online Events with Racist and Misogynist Attacks.” The Conversation. June 9, 2020. <a href="http://theconversation.com/zoom-bombings-disrupt-online-events-with-racist-and-misogynist-attacks-138389" class="uri">http://theconversation.com/zoom-bombings-disrupt-online-events-with-racist-and-misogynist-attacks-138389</a>.</p>
<p>Burton, Anthony G. and Jack Wilson. <em>Zygotian Solipsism: An Epistemic-Ontological Limit Case and Those Who Want to Live It.</em> Raleigh, USA: Non-Press, 2019.</p>
<p>Burton, Anthony G. 2019. <a href="https://dcc.infoscapelab.ca/projects/ecosys/this-is-where-it-starts">'This is where it starts'</a>. <em>Digital Citizenship Cultures Initiative</em>. October 23.</p>
<p>—. 2019. <a href="https://dcc.infoscapelab.ca/projects/ecosystem/new-right-new-mediasphere/">'Canada's New Right New Mediasphere'</a>. <em>Digital Citizenship Cultures Initiative</em>. September 30.</p>
<p>—. 2019. <a href="https://dcc.infoscapelab.ca/projects/ecosystem/the-rebel-yell/">'The Rebel Yell'.</a> <em>Digital Citizenship Cultures Initiative</em>. September 17 2019.</p>
<p>Hagen, Sal, Anthony Glyn Burton, Jack Wilson and Marc Tuters. 2019. <a href="https://oilab.eu/infinitys-abyss-an-overview-of-8chan/.">'Infinity's Abyss: An Overview of 8chan'</a>. <em>OILab</em>, August 8.</p>
<p>Burton, Anthony Glyn. 2018. <a href="https://theoutline.com/post/4919/x-why-does-tech-love-the-letter-x">'X. Why?'</a>. <em>The Outline</em>, June 13.</p>
<h3 id="presentations-r-indicates-refereed">Presentations (<strong>R</strong> indicates refereed)</h3>
<p>—. 2021. “The aesthetics of rationality”. Conference presentation. <em>Intellectual Currents</em>. Simon Fraser University, October 27.</p>
<p>Greg Elmer, Ganaele Langlois, Steve Neville, Tanner Mirrlees, Melody Devries, Anthony Burton, Marc Tuters, Ahmed Al-Rawi, and Sabrina Ward. Moderated by Fenwick McKelvey. 2021. <em>Alt/Right, Alt/Media: Encountering the alt-rights in Canada</em>. Panel presentation. <em>Canadian Disinformation Network</em>. December 3.</p>
<p><strong>R</strong> —. 2021. "Discourse machines: social platforms and the technical construction of misinformation." Conference presentation. <em>Canadian Communication Association annual conference</em>. Western University, June 4.</p>
<p><strong>R</strong> —. 2021. "‘Cat-V Considered Harmful’ Considered Harmful: Software minimalism and the ideology of computation". Conference presentation. <em>Intersections/Cross-Sections</em>. Ryerson &amp; York University, March 12.</p>
<p><strong>R</strong> Tuters, Marc and Anthony Burton. 2020. "Rebels and their Followers: YouTube Pundits and the War on 'Social Justice'". Conference presentation. <em>MAPD 2020 (Multidisciplinary Approaches to Political Discourse) #3: Responding to new challenges</em>. University of Liverpool, 25-26 June 2020. Postponed due to COVID-19.</p>
<p><strong>R</strong> Burton, Anthony G. 2020. "The grammar of embodiment: White noise, the Other, and information theory." Conference presentation. <em>What is Information?</em>. University of Oregon Portland, April 30.</p>
<p><strong>R</strong> —. “Reading the comments: Rebel Media, "citizen journalism", and reactionary audience building." Conference presentation. <em>Canadian Communication Association annual conference</em>. Western University, May 3. Cancelled due to COVID-19.</p>
<p><strong>R</strong> —. "‘Alt-right’ news night: The politics of microcelebrity on YouTube". Conference presentation. <em>Changing the Current: Intersections/Cross-Sections</em>. Ryerson &amp; York University, March 7.</p>
<p><strong>R</strong> —. 2020. "The scraped social: towards a methodological bridging of discourse and the digital." Conference presentation. <em>Beyond Boundaries</em> Communication Graduate Caucus Conference. Carleton University, February 26.</p>
<p><strong>R</strong> Elmer, Greg, Anthony Glyn Burton and Ganaele Langlois. 2020. “The Deep Web’s Impact on the 2019 Canadian Election.” Conference presentation. <em>Digital Ecosystems Conference</em>. Ottawa, Ontario, Canada, February 21.</p>
<p>Burton, Anthony Glyn. 2019. “What Platforms Want: ‘Incels’ and the digital community as archive.” Conference presentation. <em>Possible Worlds</em>. Ryerson University, December 16.</p>
<p><strong>R</strong> —. 2019. “Hearkening towards the object: Understanding the mediation of communication in the digital far-right.” Conference presentation. <em>Future Communications.</em> York University, December 13.</p>
<p>—. 2019. "Channel surfing: YouTube, Rebel Media, and politicized platform networks." Conference presentation. <em>Pursuing Critical Media &amp; Technology Studies.</em> Ryerson University, November 5.</p>
<p>—. 2019. "Digital Cultures of Citizenship." Poster Session. <em>Rubix Research Festival</em>. Ryerson University, November 4.</p>
<p><strong>R</strong> —. 2019. "Digital Characters, Digital Community: The Chad Meme as Community Member in Online Incel Spaces". Conference presentation. <em>Beyond Life Itself Social &amp; Political Thought Graduate Conference.</em> Acadia University, May 4.</p>
<p><strong>R</strong> —. 2019. "Austerity Ideology and the Public Sphere: Telephony Rhetoric in the Doug Ford Administration". Conference presentation. <em>Canada on the Edge? Robarts Centre Canadian Studies Conference.</em> York University, May 2.</p>
<h3 id="invited-talks">Invited talks</h3>
<p>—, Supriya Dwivedi, and Jane Lytvynenko. Moderated by Asmaa Malik. 2021. “Viral Threats to Journalists: From Talk Radio to Social Media to Zoombombing“. <em>Ryerson University School of Journalism Research Centre</em>. November 9.</p>
<p>—. 2021. Workshop on methods teaching. CC9000 Advanced Research Methodologies, Ryerson University. 10 February.</p>
<p>—. 2020. Workshop on construction of digital research persona for investigative journalism. <em>Canadian Centre for Free Expression</em>. 17 November.</p>
<p>—. 2019. "How to Study the Internet.” Guest lecture presented in SOC482 Media Methods, March 21.</p>
<p>—. 2019. "A Narrative Analysis Case Study: Gab.ai." Guest lecture presented in SOC482 Media Methods, March 7.</p>
<h3 id="datasets">Datasets</h3>
<p>—. 2020. Rebel Media contributors timeline (Version 0.1.0). [Data set]. Zenodo. doi.org/10.5281/zenodo.3634817</p>
<p>—. 2020. #cdnpoli and the Twittersphere: User mentions during the 2019 Federal Election (Version 1.0.0) [Data set]. Zenodo. doi.org/10.5281/zenodo.3634154</p>
<h1 id="research-and-teaching-appointments">Research and Teaching Appointments</h1>
<h2 id="research-appointments">Research Appointments</h2>
<p><strong>Project Lead, <em>Beyond Verification</em></strong>. Digital Democracies Group, Simon Fraser University. 2020-.</p>
<p><strong>Co-founder</strong>. Digital Citizenship Cultures Initiative, Ryerson University. With Drs. Greg Elmer and Ganaele Langlois. 2019-.</p>
<p><strong>Research Associate</strong>. Infoscape Research Lab, Ryerson University. 2019-.</p>
<p><strong>Research Associate</strong>. Open Intelligence Lab, University of Amsterdam. 2019-.</p>
<p><strong>Visiting Researcher</strong>. Departement van Media &amp; Cultuur, University of Amsterdam. 2019.</p>
<p><strong>Graduate Assistant</strong>. Department of Politics &amp; Public Administration, Ryerson University. 2019.</p>
<p><strong>Research Assistant</strong>. Department of Political Science, University of Toronto. 2017.</p>
<h2 id="project-leadership">Project Leadership</h2>
<p><strong>The Post-Trump Information Ecology: Political news on Reddit and 4chan <em>pol</em> and the 2020 American election.</strong> University of Amsterdam Digital Methods Initiative Winter School. January 2021.</p>
<p><strong>Post-propaganda pipeline: Junk American political news on Reddit and 4chan <em>pol</em>.</strong> University of Amsterdam Digital Methods Initiative Spring Data Sprint. March 2020.</p>
<p><strong>Streams of the Deep Web: Mapping YouTube’s Alt-Right in the context of the Canadian Federal Election.</strong> University of Amsterdam Digital Methods Initiative Summer School. July 2019.</p>
<h2 id="teaching-assistantships">Teaching Assistantships</h2>
<p><strong>CC8849 Selected Topics in PinP: Digital Methods</strong>. Joint Program in Communication &amp; Culture, Ryerson &amp; York University. 2019.</p>
<p><strong>SOC482 Media Methods</strong>. Sociology Department, Ryerson University. 2019.</p>
<h2 id="extracurricular-teaching">Extracurricular Teaching</h2>
<p><strong>Founder &amp; Program Lead</strong>. Editorial Assistant Education Program. The Strand, Victoria College's Student Newspaper. 2016.</p>
<h1 id="software-development">Software Development</h1>
<p><strong>kofi</strong>. A web application for editing markdown files hosted on a server’s native filesystem. Built with React and Node.js. Source code available at <a href="https://github.com/anthbrtn/kofi" class="uri">https://github.com/anthbrtn/kofi</a>.</p>
<p><strong>gofindme</strong>. A python-based web scraper for gofundme.com campaigns. Tracks campaign information, donations, and comments. Source code available at <a href="https://gitlab.com/anthbrtn/gofindme" class="uri">https://gitlab.com/anthbrtn/gofindme</a>.</p>
<p><strong>company-zetteltags</strong>. Allows for the automatic completion of tags when using the <a href="https://writingcooperative.com/zettelkasten-how-one-german-scholar-was-so-freakishly-productive-997e4e0ca125">Zettelkasten</a> knowledge capture method. Specifically, <code>company-zetteltags</code> is built as a backend to the <code>company-mode</code> autocompletion framework and plugs into the <a href="https://github.com/EFLS/zetteldeft">zetteldeft</a> software library for <code>GNU-Emacs</code>. Source code available at <a href="https://gitlab.com/anthbrtn/company-zetteltags/" class="uri">https://gitlab.com/anthbrtn/company-zetteltags/</a>.</p>
<p><strong>PyWarcSer</strong>. Tool to download all publicly-accessible pages of webforums built using the XenForo webforum software, convert into a <code>.warc</code>-formatted website archive file, and insert into a SQL database for statistical analysis. Written in Python. Source code availability pending.</p>
<p><strong>Digital Methods Toolkit</strong>. An evolving list of resources to perform digital methods research. Available at <a href="https://anthbrtn.com/digital-methods.html" class="uri">https://anthbrtn.com/digital-methods.html</a>.</p>
<p><strong>fzf-menus</strong>. A set of small menu widgets to connect to wifi and bluetooth using junegunn’s <a href="https://github.com/junegunn/fzf">fuzzy file finder</a>. Source code available at <a href="https://gitlab.com/anthbrtn/fzf-menus" class="uri">https://gitlab.com/anthbrtn/fzf-menus</a>.</p>
<p><strong>Digital Citizenship Cultures Initiative website</strong>. Website accompanying the Digital Citizenship Cultures research group at Ryerson University's Infoscape Lab. Founded initiative with Drs. Greg Elmer and Ganaele Langlois. Website available at <a href="https://dcc.infoscapelab.ca" class="uri">https://dcc.infoscapelab.ca</a>.</p>
<p><strong>“The Hall of Boomer Nihilism”</strong>. Three-monitor installation, live feed of images from the PatriotsSoapBox Discord server coded in Python using the Discord API. Source code available at <a href="https://gitlab.com/anthbrtn/boomer-hall-of-nihilism" class="uri">https://gitlab.com/anthbrtn/boomer-hall-of-nihilism</a>.</p>
<p><strong>Commentariat colour scheme</strong>. A colour scheme for text editing in Markdown. Originally designed for <a href="https://atom.io/themes/commentariat">Atom</a>, it is easily portable to other apps such as the terminal emulator <a href="https://github.com/anthbrtn/commentariat-tilix">Tilix</a>. The repository also contains a detailed tutorial on how to set up a markdown-based writing workflow in Atom. Source code available at <a href="https://gitlab.com/anthbrtn/commentariat" class="uri">https://gitlab.com/anthbrtn/commentariat</a>.</p>
<h1 id="media-interviews">Media Interviews</h1>
<p>Interview about resurgence of racist Zoombombing instance at Queen’s University. Krause, Kraig. February 4 2021. Queen’s University lecture hacked by ‘Zoom bombers’. <em>Global News</em>. <a href="https://globalnews.ca/news/7621278/queens-university-lecture-zoom-bombers/" class="uri">https://globalnews.ca/news/7621278/queens-university-lecture-zoom-bombers/</a></p>
<p>Interview about misinformation news in Canadian “new right new media”. Do Couto, Sarah. August 2 2020. ‘Fullish Disclosure.’ <em>Ryerson Review of Journalism</em>. <a href="https://rrj.ca/fullish-disclosure/" class="uri">https://rrj.ca/fullish-disclosure/</a></p>
<p>Interview about the proliferation of Zoombombing during COVID-19 self-quarantine. Sobocan, Cathy. 29 June 2020. 106.5 ELMNT FM.</p>
<p>Consultation about COVID-related misinformation and alternative digital platforms. Bellemare, Andrea, Katie Nicholson, and Jason Ho. 21 May 2020. ‘How a debunked COVID-19 video kept spreading after Facebook and YouTube took it down.’ <em>CBC News</em>. <a href="https://www.cbc.ca/news/technology/alt-tech-platforms-resurface-plandemic-1.5577013" class="uri">https://www.cbc.ca/news/technology/alt-tech-platforms-resurface-plandemic-1.5577013</a></p>
<p>Discussion about fake news and Canada’s new right new media on the Ryerson Review of Journalism’s <em>Pull Quotes</em> podcast. Fraser, Ashley, and Tanja Saric. 7 November 2019. ‘Pull Quotes Season Three, Episode Two: How Media Professionals Adapt to Challenging Misinformation’. <em>Pull Quotes</em>. <a href="https://rrj.ca/pull-quotes-season-three-episode-1-2/" class="uri">https://rrj.ca/pull-quotes-season-three-episode-1-2/</a>.</p>
<h1 id="research-support">Research Support</h1>
<h2 id="external-research-grants">External Research Grants</h2>
<p><em>Digital Disinformation and Citizenship Network.</em> 2020-2021. Budget: $350,000. Collaborator. Heritage Department, Government of Canada. Principal Investigator: Greg Elmer (Ryerson). Co-PIs: Wendy Chun (SFU), Fenwick McKelvey (Concordia), Ahmed Al-Rawi (SFU), and Ganaele Langlois (York).</p>
<p><em>The Dark Web’s impact on the 2019 Canadian Federal Election</em>. 2019-2020. Budget: $50,000. Co-Principal Investigator. Heritage Department, Government of Canada. Principal Investigator: Greg Elmer (Ryerson). Co-Principal Investigator: Marc Tuters (University of Amsterdam).</p>
<h1 id="awards-and-honours">Awards and Honours</h1>
<p><strong>Provost's Prize of Distinction</strong>. Simon Fraser University. 2020-2023.</p>
<p><strong>Social Sciences and Humanites Research Council of Canada Joseph Armand-Bombardier Doctoral Fellowship.</strong> Federal. 2020-2023.</p>
<p><strong>Ryerson University Thesis Gold Medal</strong>. Nomination. Ryerson Unviersity Faculty of Arts. 2020.</p>
<p><strong>Social Sciences and Humanities Research Council of Canada Graduate Masters Scholarship</strong>. Federal. 2019-2020.</p>
<p><strong>Public Scholar</strong>. Ryerson University Faculty of Arts. 2019-2020.</p>
<p><strong>Ontario Graduate Scholarship</strong>. Provincial. 2019-2020. (Declined).</p>
<p><strong>Ryerson Graduate Fellowship</strong>. Program. 2018-2020. (Declined for 2019-2020).</p>
<p><strong>Mitacs Globalink Research Award</strong>. Project: "Streams of the deep web: Mapping YouTube's alt-right in the Canadian Election". 2019.</p>
<p><strong>Silver V Award for Outstanding Campus Contribution</strong>. Victoria College in the University of Toronto. 2017.</p>
<p><strong>Secor Essay Prize in Renaissance Studies</strong>. “Veronica Franco’s Epistolary Self-Construction”. 2016.</p>
<h1 id="contributions-to-the-profession">Contributions to the Profession</h1>
<h2 id="service-to-research">Service to Research</h2>
<p>Co-organizer, 3TRG (Technics, Techne and Technology Reading Group). Digital Democracies Institute, Vancouver, Canada and Associação de Pesquisas e Práticas em Humanidades, Porto Alegre, Brazil. 2021.</p>
<p>Panel chair, <em>Intersections/Cross-Sections</em> Graduate Conference, Ryerson/York University. March 15 2020.</p>
<p>Panel chair, <em>Future Communications</em> Graduate Conference, York University. December 13 2019.</p>
<p>Panel chair, <em>Intersections/Cross-Sections</em> Graduate Conference, Ryerson/York University. February 4 2019.</p>
<h2 id="service-to-the-university">Service to the University</h2>
<p>MA Executive Representative. Communication &amp; Culture Graduate Students' Association. 2018-2020.</p>
